@font-face {
    font-family: 'phellype';
    src: url(./Fontes/Kurale-Regular.ttf);
}

.body {
    font-family: phellype, sans-serif;
    background-color: #fcf9f4;
}

.header {
    background-color: rgba(202, 220, 252, 0.9); /* Fundo com leve transparência */
    position: sticky; /* Torna o header "pegajoso" ao topo da página */
    top: 0; 
    padding: 30px; 
    font-size: 20px;
    backdrop-filter: blur(5px); /* Aplica o efeito de desfoque */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidade com navegadores WebKit */
    z-index: 1000; /* Garante que o header fique acima de outros elementos */
    display: flex; /* Alinha o conteúdo horizontalmente */
    align-items: center;
    justify-content: space-between; /* Distribui o espaço entre os itens */

}

a {
    text-decoration: none;
    color: black;
}

.esquerda {
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 20px;

}

.direita {
    margin-left: auto; /* Empurra para a direita */
    display: flex;
    gap: 30px; /* Espaçamento entre os links */
    font-size: 20px;
    justify-content: space-between;
}

.header {
    text-align: right;
}

.centralizado {
    display: flex; /* Ativa o Flexbox */
    flex-direction: column; /* Coloca os itens em coluna (um abaixo do outro) */
    justify-content: flex-start; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    height: 100vh; /* Ocupa 100% da altura da janela */
    text-align: center; /* Centraliza o texto dentro do contêiner */
    padding-top: 20px;
    overflow: hidden;
    position: relative;    
}

.ola-muito-prazer {
    font-size: 40px;
    margin-bottom: 30px; /* Espaço entre o texto e a imagem */
    font-family: phellype, sans-serif;
}

.Foto {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.Foto:hover {
    transform: scale(1.2);
}

.centralizado:hover .Foto {
    transform: scale(1.3);
}

